.back-top-bar {
    background-color: #FF9800;
    height: 4rem;
}

.top-bar {
    position: relative;
    top: -2rem;
    left: 2rem;

    height: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;


    background-color: #607D8B;
}

.top-bar-text {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 0.5rem;
}

.input-container {
    margin-top: 2rem;
    margin-left: 2rem;
}
