<html>

    <head>
        <title>Currency converter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/img/manifest.json">
        <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/img/favicon.ico">
        <meta name="apple-mobile-web-app-title" content="Currency converter">
        <meta name="application-name" content="Currency converter">
        <meta name="msapplication-config" content="/img/browserconfig.xml">
        <meta name="theme-color" content="#607d8b">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/4.1.0/sanitize.min.css" />
        <link rel="stylesheet" href="css/styles.css" />
        <link rel="stylesheet" href="css/input.css" />
    </head>

    <body>
        <div id="app">
            <div class="back-top-bar"></div>

            <div class="top-bar">
                <p class="top-bar-text">Currency converter</p>
            </div>

            <div class="input-container">
                <div class="group">
                    <input required type="number" v-model="changeGBPToEUR" v-on:keyup="convert">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Taux de change GBP/EUR</label>
                </div>

                <div class="group">
                    <input required type="number" v-model="changeEURToGBP" v-on:keyup="convert">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Taux de change EUR/GBP</label>
                </div>

                <div class="group">
                    <input required type="number" v-model="pounds" v-on:keyup="convertToEuros">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Livres</label>
                </div>

                <div class="group">
                    <input required type="number" v-model="euros" v-on:keyup="convertToPounds">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Euros</label>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
        <script src="js/index.js"></script>
    </body>

</html>
